/* styles/globals.css */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  color: #111;
}
input, button {
  font-family: inherit;
}
button {
  cursor: pointer;
}
