/* styles/globals.css */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  color: #111;
}
input, button {
  font-family: inherit;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
button {
  background-color: #4caf50;
  color: white;
  cursor: pointer;
  border: none;
}
button:hover {
  background-color: #45a049;
}
